.emptyDeckWrapper {
  width: 100%;
  padding: 0 8.5rem;

  .textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .textWarning {
      margin-bottom: 1.875rem;
      color: var(--color-dark-100);
    }
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.namePack {
  margin: 26px 136px;
}
